/* Application */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: #CAFFFB;
}

/* Header */

header {
    background-color: #805B87;
}

header, header .title, header .subtitle, header .site-icon img {
    color: #CAFFFB;
}

.date-time p {
    font-size: x-large;
}

header .title, header .subtitle {
    text-shadow: 2px 2px #014182;
}

.site-icon img {
    border: solid 1px #363636;
    border-radius: 10px;
    height: 125px;
    background-color: #CAFFFB;
}

/* Main container */
.modal-card-foot, .modal-card-head {
    background-color: #805B87;
}

.modal-card-title {
    color: #CAFFFB;
    text-shadow: 2px 2px #014182;
}

#news-container, #weather-container {
    margin: 0px 10px;
    border: solid 2px #014182;
    border-radius: 5px;
}

#tab-content p {
    display: none;
  }

#tab-content p.is-active {
display: block;
}

hr {
    border-top: solid 1px #014182;
}

.news-card, .weather-card {
    margin: 5px;
    border: solid 1px #014182;
    border-radius: 5px;
    background-color: #805B87;
    color: #CAFFFB;
}

/* News */

.link, .link1, .link2 {
    color: #014182;
}

/* Weather */

.weather-card h2 {
    font-weight: bold;
    font-size: large;
}

.night {
background-image: linear-gradient(black, rgb(20, 18, 53), rgb(38, 28, 95));
}

.sunrise {
background-image: linear-gradient(rgb(201, 150, 40), rgb(129, 92, 49), rgb(26, 20, 7));
}

.day {
    background-image: linear-gradient(rgb(103, 156, 226), rgb(212, 201, 136), rgb(145, 185, 218));
    }

.sunset {
background-image: linear-gradient(rgb(70, 60, 131) ,rgb(131, 60, 131), rgb(230, 140, 56));
}

.icon-container {
    padding: 0px;
    display: flex;
    justify-content: center;
}